@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  --color-primary: #4880FF;
  --color-text: #202224;
}

* {
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

input, select, textarea {
  outline: none;
}

/* Custom language */
.gt_float_switcher {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.gt_float_switcher .gt-selected .gt-current-lang {
  padding: 8px !important;
  display: inline-flex;
  align-items: center;
}

.gt_float_switcher .gt-selected .gt-current-lang span.gt-lang-code {
  font-size: 14px !important;
  top: 0 !important;
  margin-right: 4px;
}

.gt_float_switcher img {
  width: 24px !important;
}

.gt_float_switcher .gt_options a {
  padding: 8px !important;
  font-size: 14px !important;
  color: var(--color-text);
}

/* End Custom language */


/* Page Account */
.page-account {
  background-image: url("../images/bg-account.svg");
  padding: 50px 0;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* End Page Account */

/* Form Account */
.form-account {
  background-color: #fff;
  border-radius: 24px;
  width: 630px;
  margin: 0 auto;
  padding: 90px 57px;
}

.form-account .inner-title {
  font-weight: 700;
  font-size: 32px;
  color: var(--color-text);
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
}

.form-account .inner-desc {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
  text-align: center;
  opacity: 0.8;
  margin-top: 0;
  margin-bottom: 40px;
}

.form-account .inner-form {
  margin-bottom: 30px;
}

.form-account .inner-group {
  margin-bottom: 30px;
}

.form-account .inner-group .inner-label {
  display: block;
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
  opacity: 0.8;
}

.form-account .inner-group .inner-control {
  width: 100%;
  height: 56px;
  background-color: #F1F4F9;
  border-radius: 8px;
  padding: 0 16px;
  border: 1px solid #D8D8D8;
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
}

.form-account .inner-group .inner-control::placeholder {
  color: #A6A6A6;
}

.form-account .inner-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.form-account .inner-confirm {
  display: flex;
  align-items: center;
  gap: 12px;
}

.form-account .inner-confirm .inner-check {
  width: 24px;
  height: 24px;
}

.form-account .inner-confirm .inner-label,
.form-account .inner-forgot-password {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
  opacity: 0.6;
}

.form-account .inner-forgot-password:hover {
  opacity: 1;
  color: var(--color-primary);
}

.form-account .inner-button {
  width: 100%;
  height: 56px;
  border: 0;
  border-radius: 8px;
  background-color: var(--color-primary);
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  opacity: 0.9;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.form-account .inner-button:hover {
  opacity: 1;
  background-color: #fff;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}

.form-account .inner-more {
  text-align: center;
}

.form-account .inner-more span {
  font-weight: 600;
  font-size: 18px;
  color: var(--color-text);
  opacity: 0.65;
}

.form-account .inner-more a {
  font-weight: 700;
  font-size: 18px;
  color: #5A8CFF;
  text-decoration: underline;
  margin-left: 10px;
}

@media (max-width: 767.98px) {
  .form-account {
    width: 95%;
    padding: 40px 20px;
  }
}

/* End Form Account */

/* Header */
.header {
  background-color: #fff;
  border-bottom: 1px solid #E0E0E0;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  align-items: center;
}

.header .inner-logo {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .inner-logo a {
  font-weight: 800;
  font-size: 24px;
}

.header .inner-logo a span:nth-child(1) {
  color: var(--color-primary);
}

.header .inner-logo a span:nth-child(2) {
  color: var(--color-text);
}

.header .inner-wrap {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
  gap: 40px;
}

.header .inner-notify {
  position: relative;
  cursor: pointer;
  height: 25px;
}

.header .inner-notify img {
  height: 25px;
  width: auto;
}

.header .inner-notify span {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #F93C65;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  position: absolute;
  top: -5px;
  right: -5px;
}

.header .inner-account {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}

.header .inner-account .inner-avatar {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  overflow: hidden;
}

.header .inner-account .inner-avatar img {
  width: 100%;
  height: 100%;
}

.header .inner-account .inner-text {
  flex: 1;
}

.header .inner-account .inner-text .inner-name {
  font-weight: 700;
  font-size: 14px;
  color: #404040;
}

.header .inner-account .inner-text .inner-role {
  font-weight: 600;
  font-size: 12px;
  color: #565656;
}

.header .inner-menu-mobile {
  display: none;
}

@media (max-width: 991.98px) {
  .header .inner-menu-mobile {
    display: inline-block;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    font-size: 20px;
  }
}

@media (max-width: 575.98px) {
  .header .inner-logo {
    width: auto;
    margin-left: 15px;
  }

  .header .inner-wrap {
    margin-right: 15px;
    gap: 20px;
  }
}

/* End Header */

/* Sider */
.sider {
  background-color: #fff;
  border-right: 1px solid #E0E0E0;
  width: 240px;
  height: calc(100vh - 70px);
  position: fixed;
  top: 70px;
  left: 0;
  overflow-y: auto;
}

.sider::-webkit-scrollbar {
  width: 3px;
}

.sider::-webkit-scrollbar-thumb {
  background-color: #ddd;
}

.sider .inner-menu {
  list-style: none;
  padding: 0;
  margin: 11px 0;
}

.sider .inner-menu li a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  margin-left: 24px;
  margin-right: 10px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  color: var(--color-text);
  position: relative;
  transition: all 0.3s ease-in-out;
}

.sider .inner-menu li a.active {
  background-color: var(--color-primary);
  color: #fff;
}

.sider .inner-menu li a.active::before {
  content: "";
  position: absolute;
  background-color: var(--color-primary);
  display: block;
  width: 4.5px;
  height: 100%;
  top: 0;
  left: -24px;
  border-radius: 0 4px 4px 0;
}

.sider .inner-menu li a.inner-logout {
  color: #F93C65;
}

.sider hr {
  border: 1px solid #E0E0E0;
  margin: 16px 0;
}

@media (max-width: 991.98px) {
  .sider {
    display: none;
  }
}

/* End Sider */

/* Main */
.main {
  background-color: #F5F6FA;
  position: absolute;
  top: 70px;
  left: 240px;
  width: calc(100% - 240px);
  min-height: calc(100vh - 70px);
  padding: 30px;
}

@media (max-width: 991.98px) {
  .main {
    left: 0;
    width: 100%;
  }
}

@media (max-width: 575.98px) {
  .main {
    padding: 30px 15px;
  }
}

/* End Main */

/* Box title */
.box-title {
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 32px;
  color: var(--color-text);
}

/* End Box title */

/* Section 1 */
.section-1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.section-1 .inner-item {
  background-color: #fff;
  border-radius: 14px;
  padding: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.section-1 .inner-item .inner-icon {
  width: 60px;
  height: 60px;
}

.section-1 .inner-item .inner-icon img {
  width: 100%;
  height: 100%;
}

.section-1 .inner-item .inner-content .inner-tile {
  font-weight: 600;
  font-size: 16px;
  color: var(--color-text);
  margin-bottom: 4px;
}

.section-1 .inner-item .inner-content .inner-number {
  font-weight: 700;
  font-size: 28px;
  color: var(--color-text);
}

@media (max-width: 1199.98px) {
  .section-1 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767.98px) {
  .section-1 {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* End Section 1 */

/* Section 2 */
.section-2 {
  background-color: #fff;
  margin-top: 30px;
  box-shadow: 6px 6px 54px 0px #0000000D;
  border-radius: 14px;
  padding: 32px;
}

.section-2 .inner-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.section-2 .inner-head .inner-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  color: var(--color-text);
}

.section-2 .inner-head .inner-filter input {
  height: 28px;
  border: 1px solid #D5D5D5;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  color: #2B303466;
  padding: 0 16px;
}

.section-2 .inner-chart {
  height: 273px;
}

@media (max-width: 575.98px) {
  .section-2 {
    padding: 24px;
  }

  .section-2 .inner-head {
    flex-wrap: wrap;
    gap: 10px;
  }
}

/* End Section 2 */

/* Section 3 */
.section-3 {
  background-color: #fff;
  box-shadow: 6px 6px 54px 0px #0000000D;
  margin-top: 30px;
  padding: 32px;
}

.section-3 .inner-title {
  margin: 0 0 30px;
  font-weight: 700;
  font-size: 24px;
  color: var(--color-text);
}

@media (max-width: 575.98px) {
  .section-3 {
    padding: 24px;
  }
}

/* End Section 3 */

/* Table 1 */
.table-1 {
  overflow-x: auto;
}

.table-1::-webkit-scrollbar {
  height: 5px;
}

.table-1::-webkit-scrollbar-thumb {
  background-color: #ddd;
}

.table-1 table {
  width: 100%;
  border-collapse: collapse;
  min-width: 1076px;
}

.table-1 table tr th {
  background-color: #F1F4F9;
  padding: 14px 24px;
  font-weight: 700;
  font-size: 14px;
  text-align: left;
}

.table-1 table thead tr th:first-child {
  border-radius: 12px 0 0 12px;
}

.table-1 table thead tr th:last-child {
  border-radius: 0 12px 12px 0;
}

.table-1 .inner-text-right {
  text-align: right;
}

.table-1 table tbody tr td {
  padding: 10px 24px;
  text-align: left;
  border-bottom: 1px solid #97979751;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
}

.table-1 .inner-code {
  font-weight: 700;
  font-size: 14px;
  color: var(--color-primary);
}

.table-1 .inner-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.table-1 .inner-list .inner-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.table-1 .inner-list .inner-item .inner-image {
  width: 76px;
  height: 76px;
  border-radius: 6px;
  overflow: hidden;
}

.table-1 .inner-list .inner-item .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.table-1 .inner-list .inner-item .inner-content .inner-name {
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
  margin-bottom: 3px;
}

.table-1 .inner-list .inner-item .inner-content .inner-quantity {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-weight: 600;
  font-size: 12px;
  color: var(--color-text);
}

/* End Table 1 */

/* Badge */
.badge {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4.5px;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
}

.badge.badge-orange {
  background-color: rgba(255, 168, 86, 0.2);
  color: #FFA756;
}

.badge.badge-green {
  background-color: rgba(0, 182, 155, 0.2);
  color: #00B69B;
}

.badge.badge-red {
  background-color: rgba(239, 55, 38, 0.2);
  color: #EF3826;
}

/* End Badge */

/* Section 4 */
.section-4 {
  margin-bottom: 15px;
}

.section-4 .inner-wrap {
  display: inline-flex;
  flex-wrap: wrap;
  border: 1px solid #D5D5D5;
  background-color: #fff;
  border-radius: 14px;
}

.section-4 .inner-item {
  padding: 24px;
  border-right: 1px solid #D5D5D5;
  display: inline-flex;
  gap: 12px;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-text);
}

.section-4 .inner-label i {
  font-size: 22px;
}

.section-4 .inner-item:last-child {
  border-right: 0;
}

.section-4 .inner-item select,
.section-4 .inner-item input[type="date"] {
  outline: none;
  border: 0;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-text);
  cursor: pointer;
}

.section-4 .inner-item input[type="date"] {
  width: 110px;
}

.section-4 .inner-reset {
  color: #EA0234;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}

@media (max-width: 991.98px) {
  .section-4 .inner-item {
    padding: 15px;
  }
}

/* End Section 4 */

/* Section 5 */
.section-5 {
  margin-bottom: 30px;
}

.section-5 .inner-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.section-5 .inner-change-status {
  display: inline-flex;
  border: 1px solid #D5D5D5;
  background-color: #fff;
  border-radius: 14px;
}

.section-5 .inner-change-status .inner-item {
  padding: 24px;
  border-right: 1px solid #D5D5D5;
}

.section-5 .inner-change-status .inner-item:last-child {
  border-right: 0;
}

.section-5 .inner-change-status select {
  border: 0;
  outline: none;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-text);
}

.section-5 .inner-change-status button {
  background-color: transparent;
  padding: 0;
  border: 0;
  font-weight: 600;
  font-size: 14px;
  color: #EA0234;
  cursor: pointer;
}

.section-5 .inner-search {
  border: 1px solid #E2E2E2;
  background-color: #fff;
  border-radius: 14px;
  display: inline-flex;
  align-items: center;
  gap: 15px;
  width: 366px;
  padding: 24px;
}

.section-5 .inner-search i {
  font-size: 20px;
  color: #000;
  opacity: 0.5;
}

.section-5 .inner-search input {
  flex: 1;
  border: 0;
  outline: none;
  font-weight: 700;
  font-size: 14px;
}

.section-5 .inner-search input::placeholder {
  color: #979797;
}

.section-5 .inner-button-create a,
.section-5 .inner-button-trash a {
  background-color: var(--color-primary);
  border-radius: 14px;
  display: inline-block;
  padding: 24px 50px;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

.section-5 .inner-button-trash a {
  background-color: #EF382633;
  color: #EF3826;
  padding: 24px 40px;
}


@media (max-width: 991.98px) {
  .section-5 .inner-change-status .inner-item,
  .section-5 .inner-search{
    padding: 15px;
  }

  .section-5 .inner-button-create a,
  .section-5 .inner-button-trash a  {
    padding: 15px 30px;
  }
}

@media (max-width: 575.98px) {
  .section-5 .inner-search {
    width: 100%;
  }
}
/* End Section 5 */

/* Section 6 */
.section-6 {
  margin-bottom: 15px;
}

/* End Section 6 */

/* Table 2 */
.table-2 {
  overflow-x: auto;
}

.table-2::-webkit-scrollbar {
  height: 4px;
}

.table-2::-webkit-scrollbar-thumb {
 background-color: #ddd;
}

.table-2 table {
  background-color: #fff;
  border: 1px solid #D5D5D5;
  border-radius: 14px;
  width: 100%;
  overflow: hidden;
  min-width: 1141px;
}

.table-2 table thead tr th {
  background-color: #FCFDFD;
  border-bottom: 1px solid #D5D5D5;
  padding: 15px;
  font-weight: 800;
  font-size: 14px;
  color: var(--color-text);
  text-align: left;
}

.table-2 table .inner-center {
  text-align: center;
}

.table-2 table tbody tr td {
  padding: 8px 15px;
  border-bottom: 1px solid rgba(151, 151, 151, 0.6);
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
}

.table-2 table tbody tr:last-child td {
  border-bottom: 0;
}

.table-2 table tbody tr td .inner-avatar {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  object-fit: cover;
}

.table-2 table tbody tr td span {
  font-size: 12px;
}

.table-2 table tbody tr td .inner-buttons {
  background-color: #FAFBFD;
  border: 1px solid #D5D5D5;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
}

.table-2 table tbody tr td .inner-buttons a {
  display: inline-block;
  padding: 8.5px 16.5px;
  border-right: 1px solid #D5D5D5;
  font-size: 15px;
}

.table-2 table tbody tr td .inner-buttons a:last-child {
  border-right: 0;
}

.table-2 table tbody tr td .inner-buttons .inner-edit {
  color: #000000;
  opacity: 0.6;
}

.table-2 table tbody tr td .inner-buttons .inner-remove {
  color: #EF3826;
}

.table-2 .inner-code {
  font-weight: 700;
  font-size: 14px;
  color: var(--color-primary);
}

.table-2 .inner-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.table-2 .inner-list .inner-item {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.table-2 .inner-list .inner-item .inner-image {
  width: 76px;
  height: 76px;
  border-radius: 6px;
  overflow: hidden;
}

.table-2 .inner-list .inner-item .inner-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.table-2 .inner-list .inner-item .inner-content .inner-name {
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
  margin-bottom: 3px;
}

.table-2 .inner-list .inner-item .inner-content .inner-quantity {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-weight: 600;
  font-size: 12px;
  color: var(--color-text);
}
/* End Table 2 */

/* Custom Checkbox */
.custom-check {
  position: absolute;
  visibility: hidden;
  width: 20px !important;
}

.custom-icon-checkbox {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  transform: scale(1);
  border: 1px solid #D5D5D5;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
  cursor: pointer;
}

.custom-icon-checkbox i {
  font-size: 12px;
  visibility: hidden;
}

.custom-icon-checkbox:hover {
  border-color: var(--color-primary);
}

.custom-check:checked + .custom-icon-checkbox {
  background: var(--color-primary);
  border-color: var(--color-primary);
  animation: animate-check 0.4s ease;
}

.custom-check:checked + .custom-icon-checkbox i {
  visibility: visible;
  color: #fff;
}

@keyframes animate-check {
  50% {
    transform: scale(0.9);
  }
}
/* End Custom Checkbox */

/* Section 7 */
.section-7 {
  display: inline-flex;
  gap: 20px;
  align-items: center;
}

.section-7 .inner-label {
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
  opacity: 0.6;
}

.section-7 .inner-pagination {
  border: 1px solid #D5D5D5;
  border-radius: 8px;
  padding: 6px 14px;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
  opacity: 0.6;
  outline: none;
}
/* End Section 7 */

/* Section 8 */
.section-8 {
  background-color: #fff;
  border: 1px solid #B9B9B9;
  border-radius: 14px;
  padding: 50px;
}

.section-8 form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.section-8 .inner-label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  color: #606060;
  margin-bottom: 11px;
}

.section-8 .inner-two-col {
  grid-column: span 2;
}

.section-8 .inner-group input,
.section-8 .inner-group select,
.section-8 .inner-group textarea {
  background-color: #F5F6FA;
  border-radius: 4px;
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text);
  width: 100%;
  border: 1px solid #D5D5D5;
  padding: 0 22px;
}

.section-8 .inner-group input,
.section-8 .inner-group select {
  height: 52px;
}

.section-8 .inner-group textarea {
  height: 160px;
  padding: 18px 22px;
  resize: none;
}

.section-8 .inner-button {
  text-align: center;
}

.section-8 .inner-button button {
  background-color: var(--color-primary);
  opacity: 0.9;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  height: 56px;
  border-radius: 12px;
  border: 0;
  width: 274px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.section-8 .inner-button button:hover {
  opacity: 1;
}

.section-8 .inner-back {
  text-align: center;
  margin-top: 30px;
}

.section-8 .inner-back a {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-primary);
  text-decoration: underline;
}

.section-8 form .inner-input-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.section-8 form .inner-input-item {
  display: flex;
  align-items: center;
  gap: 20px;
} 

.section-8 form .inner-input-item label {
  font-weight: 600;
  font-size: 14px;
  color: #606060;
  width: 89px;
}

.section-8 form .inner-input-item input {
  flex: 1;
}

.section-8 form .inner-checkbox-list {
  border: 1px solid #D5D5D5;
  background-color: #F5F6FA;
  border-radius: 4px;
  height: 166px;
  overflow-y: auto;
  padding: 14px 23px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section-8 form .inner-checkbox-item {
  display: flex;
  align-items: center;
  gap: 14px;
}

.section-8 form .inner-checkbox-item .inner-locations {
  font-weight: 500;
  font-size: 14px;
  color: var(--color-text);
}

.section-8 form .inner-schedule-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-8 form .inner-schedule-item {
  border: 1px solid #D5D5D5;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 15px;
}

.section-8 form .inner-schedule-head {
  display: flex;
  gap: 15px;
}

.section-8 form .inner-schedule-head input {
  flex: 1;
}

.section-8 form .inner-schedule-button {
  width: 52px;
  height: 52px;
  border: 1px solid #D5D5D5;
  border-radius: 4px;
  background-color: #F5F6FA;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #A6A6A6;
}

.section-8 form .inner-schedule-button.inner-move {
  cursor: move;
}

.section-8 form .inner-schedule-button.inner-remove {
  color: #EF3826;
  cursor: pointer;
}

.section-8 form .inner-schedule-button.inner-more {
  cursor: pointer;
}

.section-8 form .inner-schedule-body {
  margin-top: 15px;
}

.section-8 form .inner-schedule-body textarea {
  height: 300px;
}

.section-8 form .inner-schedule-create {
  background-color: #D5D5D5;
  border-radius: 4px;
  opacity: 0.9;
  font-weight: 700;
  font-size: 14px;
  display: inline-flex;
  padding: 10px 20px;
  cursor: pointer;
}

.section-8 form .inner-schedule-create:hover {  
  opacity: 1;
}

.section-8 form .inner-order-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section-8 form .inner-order-item {
  display: flex;
  gap: 12px;
}

.section-8 form .inner-order-image {
  width: 115px;
  height: 115px;
  border-radius: 6px;
  overflow: hidden;
}

.section-8 form .inner-order-image imgg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-8 form .inner-order-content {
  flex: 1;
}

.section-8 form .inner-order-name {
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
}

.section-8 form .inner-order-text {
  font-weight: 600;
  font-size: 12px;
  color: var(--color-text);
  margin-top: 3px;
}

.section-8 form .inner-order-total {
  font-weight: 600;
  font-size: 14px;
  color: var(--color-text);
  margin-top: 11px;
}

.section-8 form .inner-order-price {
  color: #EF3826;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  .section-8 {
    padding: 20px;
  }

  .section-8 form {
    grid-template-columns: repeat(1, 1fr);
  }

  .section-8 .inner-two-col {
    grid-column: span 1;
  }
}

@media (max-width: 575.98px) {
  .section-8 form .inner-schedule-head {
    flex-wrap: wrap;
  }

  .section-8 form .inner-schedule-head input {
    flex: none;
    width: 100%;
    order: 1;
  }
}

/* End Section 8 */

/* Section 9 */
.section-9 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  flex-wrap: wrap;
}

.section-9 .inner-item {
  background-color: #fff;
  border-radius: 14px;
  padding: 25px;
  display: inline-flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.section-9 .inner-item .inner-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #E7EDFF;
  color: var(--color-primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.section-9 .inner-item .inner-text {
  font-weight: 700;
  font-size: 18px;
  color: var(--color-text);
}

@media (max-width: 1199.98px) {
  .section-9 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767.98px) {
  .section-9 {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}
/* End Section 9 */

/* Section 10 */
.section-10 {
  border: 1px solid #B9B9B9;
  padding: 80px;
  border-radius: 14px;
  text-align: center;
  background-color: #fff;
}

.section-10 .inner-image {
  width: 390px;
  height: auto;
  margin-bottom: 60px;
}

.section-10 .inner-title {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-text);
  margin-top: 0;
  margin-bottom: 30px;
}

.section-10 .inner-back {
  background-color: var(--color-primary);
  border-radius: 8px;
  padding: 15px 104px; 
  opacity: 0.9;
  font-weight: 700;
  font-size: 20px;
  color: #fff; 
  display: inline-block;
}

@media (max-width: 767.98px) {
  .section-10 {
    padding: 40px 30px;
  }

  .section-10 .inner-image {
    width: 60%;
    margin-bottom: 30px;
  }

  .section-10 .inner-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .section-10 .inner-back {
    font-size: 16px;
    padding: 15px 40px;
  }
}

/* End Section 10 */